<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Input</th>
      <th scope="col">Output</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
        {% for number in row %}
          <td>{{ number|e }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>